* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
header{
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #0d1f1c;

}

.nav-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 80px;
}


/* Título Finiak */
.finiak-title{
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-size: 27px;
    font-weight: 600;
    margin: 0;
}
.finiak-title a{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}
.finiak-title a:hover {
    color: #F06C44;
}


/* Links de navegación */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    padding-right: 100px;
}

.nav-links li a{
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;

}
.nav-links li a:hover {
    color: #F06C44;
}


/* Sección de texto */
.content-financial{
    color: #fff;
    text-align: center;

}

.content-financial h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 0;

}
.content-financial p{
    font-family: 'inter', sans-serif;
    font-weight: normal;
    font-family: inter;
    opacity: 80%;
    font-size: 20px;

}
.financial-buttons{
    text-align: center;
    margin-top: 50px;
    height: 60px;
}
.financial-buttons .start-trial{
    width: 220px;
    height: 60px;
    padding: 16px 20px;
    background-color: #F06C44;
    color: #fff;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.financial-buttons .demo{
    width: 220px;
    height: 60px;
    padding: 16px 20px;
    background-color: fff;
    color: 12141D;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 15px;
    gap: 10px;
    border: 1px solid #0d1f1c;
    cursor: pointer;
}
.financial-buttons .demo i{
    font-size: 14px;
}

/* Botones Navbar */
.navbar-buttons a{
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-right: 20px;
    transition: color 0.3s ease;

}
.navbar-buttons a:hover {
    color: #F06C44;
}

.navbar-buttons button{
    width: 168px;
    height: 56px;
    padding: 16px 20px;
    border-radius: 3px;
    background-color: #F06C44;
    cursor: pointer;
    color: #fff;
    

}

/* Rectángulo */

.group2874 {
    width: 90%; 
    max-width: 1076px;
    height: 622px;
    background-color: #919192;
    border-radius: 10px;
    border: 10px solid #12141D;
    border-bottom: none;
    margin: 80px auto 0 auto;
}

/* Logo section */
.logo-section{
    width: 100%;
    height: auto;
}